// Body
$body-bg: #edf1f4;
$nav-tabs-link-active-bg: #fff !default;

// Typography
$font-family-sans-serif: Roboto, Helvetica, Arial, Lucida, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2f507b;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f8c822;
$green: #81B20A;

$teal: #4dc0b5;
$cyan: #6cb2eb;

// Navbar
$navbar-padding-x: 0;
$navbar-padding-y: 0;

// Dropdowns
$dropdown-link-color: #b1bece;
$dropdown-item-padding-x: 28px;
$dropdown-item-padding-y: 12px;
$dropdown-min-width: 15rem;

// Modals
$zindex-modal: 10500;
$zindex-modal-backdrop: 1040;

// Buttons
$btn-border-radius: 0.25rem;

$text-muted: #ced4da;

/* set the overriding variables */
$grid-breakpoints: (
    xxxs: 0,
    xxs: 320px,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px
);
$container-max-widths: (
    xxxs: 0,
    xxs: 320px,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px
);
