/*
.fileUploadInput {
    display: grid;
    grid-gap: 10px;
    position: relative;
    z-index: 1;
}

.fileUploadInput label {
    color: #31527d;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0
}

.fileUploadInput input {
    position: relative;
    z-index: 1;
    padding: 0 gap(m);
    width: 100%;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: regular;
}

.fileUploadInput input[type="file"] {
    padding: 0 gap(m);
}

.fileUploadInput input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    margin-left: 10px;
    padding: 0;
    height: 35px;
    width: 0;
}

.fileUploadInput button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    line-height: 0;
    user-select: none;
    color: white;
    background-color: #323262;
    border: 1px solid #323262;
    border-radius: 0 3px 3px 0;
    font-family: arial, sans-serif;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.fileUploadInput button svg {
    width: auto;
    height: 50%;
}
*/
/* states */
.filepond--item-panel {
    background-color: #bfbfbf;
}
[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: #72b390;
}
[data-filepond-item-state*='invalid'] .filepond--item-panel,
[data-filepond-item-state*='error'] .filepond--item-panel {
    background-color: #b37c72;
}
.filepond--credits {
    display: none;
}