@import 'filepond-custom';

.min-vh-60 {
    min-height: 60vh !important;
}

.block-item {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.block-item-white {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.block-item-white .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 16px 0;
}

.block-item .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.block-item-white .body,
.block-item .body {
    margin-top: 10px;
}

.task-container {
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
}

.block-item-white .body .body-container {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    border: 0;
    box-shadow: none;
    background-color: #fff;
    flex-basis: calc(50% - 32px);
    padding: 16px;
    width: 100%;
    height: 100%;
}

.block-item .body .content-container {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    border: 0;
    box-shadow: none;
    background-color: #fff;
    flex-basis: calc(50% - 32px);
    height: 100%;
    width: 100%;
}

.block-item .body .stats-container {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    border: 0;
    box-shadow: none;
    background-color: #fff;
    flex-basis: calc(50% - 32px);
    height: 90px;
    width: 100%;
}

.stats-container .tile-link {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 16px;
}

.stats-container .tile-link .image-container {
    width: 30px;
    height: 48px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f507b;
    font-size: 28px;
}

.stats-container .status-info-container {
    margin-right: 16px;
}

.stats-container .status-info-container .status {
    font-size: 20px;
    font-weight: 600;
    color: #2f507b;
}

.stats-container .status-info-container .period {
    font-size: 12px;
    color: #b1bece;
}

.stats-container .count {
    margin-left: auto;
    font-weight: 300;
    font-size: 48px;
    color: #2f507b;
}

.stats-container:hover {
    box-shadow: 0 0 10px -1px hsla(0, 0%, 39.2%, .2)
}

.block-item-white .header .title-container,
.block-item-white .body .body-container,
.block-item .body .body-container,
.block-item .header .title-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.block-item .header .title-container .title_underline,
.block-item-white .header .title-container .title_underline {
    width: 100%;
    height: 1px;
    border-top: 1px solid #2f507b;
    margin-top: 10px;
}

.block-item-white .header .title-container .subtitle,
.block-item .header .title-container .subtitle {
    width: 100%;
    color: #b1bece;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
}

.block-item-white .header .title-container .title,
.block-item-white .body .body-container .title,
.block-item .body .body-container .title,
.block-item .header .title-container .title {
    font-weight: 700;
    font-size: 24px;
    color: #2f507b;
}

.link-container .link {
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    border: none;
    padding: 0;
    text-decoration: none;
    color: #b1bece;
    background-color: inherit;
    cursor: pointer;
    outline: none;
}

.link-container .link:hover {
    color: #2f507b;
}

.link-container.is-active .link {
    color: #2f507b;
    font-size: 16px;
    font-weight: 600;
}

.link-container {
    display: flex;
    padding: 0 16px;
    margin: 0 16px;
    align-items: center;
}

.link-container.is-active {
    border-bottom: 2px solid #f26522;
    height: 72px;
}

.username {
    display: block;

    color: #2f507b;
    font-size: 16px;
    font-weight: 600;

    margin-right: 16px;
    padding: 10px 25px 10px 25px;
}

.username:hover {
    display: block;
    color: #2f507b;
    font-size: 16px;
    font-weight: 600;
    background-color: #eeeeee;
    border-radius: 24px;
    text-decoration-line: none;

    padding: 10px 25px 10px 25px;
}

.language {
    display: block;

    color: #2f507b;
    font-size: 16px;
    font-weight: 600;

    padding: 10px;
}

.language:hover {
    display: block;
    color: #2f507b;
    font-size: 16px;
    font-weight: 600;
    background-color: #eeeeee;
    border-radius: 24px;
    text-decoration-line: none;

    padding: 10px;
}

.fsize12 {
    font-size: 12px;
}

.fsize14 {
    font-size: 14px;
}

.fsize16 {
    font-size: 16px;
}

.fsize18 {
    font-size: 18px;
}

.fsize20 {
    font-size: 20px;
}

.fsize22 {
    font-size: 22px;
}

.fsize24 {
    font-size: 24px;
}

.fsize25 {
    font-size: 25px;
}

.fsize26 {
    font-size: 26px;
}

.fsize27 {
    font-size: 27px;
}

.fsize28 {
    font-size: 28px;
}

.fsize29 {
    font-size: 29px;
}
.fsize30 {
    font-size: 30px;
}

.fsize32 {
    font-size: 32px;
}

.fsize36 {
    font-size: 36px;
}

.fsize40 {
    font-size: 40px;
}

.fsize48 {
    font-size: 48px;
}

.fsize72 {
    font-size: 72px;
}

@-moz-document url-prefix() {
    .fileUploadInput button {
        display: none
    }
}

.task-table {
    width: 100%;
    color: #212529;
}

.task-table td {
    padding: 0.8rem;
    vertical-align: center;
    border-bottom: 1px solid #e6eaee;
}

.task-table th {
    padding: 0.8rem;
    background-color: #f7f5f5;
    color: #2f507b;
    vertical-align: top;
    border-bottom: 1px solid #e6eaee;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.table-settings {
    @extend .table;
    tr {
        &:nth-child(odd) {
            background-color: white;
        }
        &:nth-child(even) {
            background-color: #f8f9fa;
        }
    }
}

.table-notifications {
    @extend .table-settings;

    thead {
        tr {
            background: none !important;
        }

        th {
            border: none;
        }
    }

    td {
        border: none;
    }

    .slider-spacing {
        padding-left: 12px;
    }
}

.task-title {
    width: 100%;
    color: #2f507b;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.document-title {
    width: 100%;
    color: #2f507b;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.task-span {
    width: 100%;
    color: #2f507b;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.task-company {
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    color: #b1bece;
    text-transform: uppercase;
}

.fa-round-wrap {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
}

.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #c0d9ec;
    color: #5c5c5c;
    text-align: center;
}

.round-no-hover:hover {
    box-shadow: none !important
}

.round:hover {
    box-shadow: 0 0 10px -1px rgba(100, 100, 100, 0.5)
}

.round.round-s {
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.round.round-xxs {
    display: block;
    height: 16px;
    width: 16px;
    line-height: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}

.round.round-xs {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

.round.round-m {
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.round.round-complete {
    z-index: 9;
    margin-right: -10px;
}

.round.round-progress {
    z-index: 10;
    margin-right: -10px;
}

.round.round-waiting {
    z-index: 9;
    margin-right: -10px;
}

.round.round-primary {
    background-color: #edf1f4;
    color: #2f507b;
}

.round.round-information {
    background-color: #2f507b;
    color: #fff;
}

.round.round-info {
    background-color: #c0d9ec;
}

.round.round-secondary {
    background-color: #fff1bf;
}

.round.round-success {
    background-color: #ddf0d5;
}

.round.round-warning {
    background-color: #fff1de;
}

.round.round-danger {
    background-color: #ecc9c0;
}

.round.round-system {
    background-color: #ebecef;
}

[data-tooltip] {
    position: relative;
    z-index: 200;
    cursor: pointer;
}


/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}


/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 75%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    z-index: 200;
    line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 75%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    z-index: 200;
    line-height: 0;
}


/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.form-label {
    color: #31527d;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0
}

.document-primary {
    color: #31527d;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0
}

.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay.show {
    opacity: 0.55;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
}

.bs-canvas-left {
    left: 0;
}

.bs-canvas-right {
    right: 0;
}

.bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
}

.bs-canvas-close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.bs-canvas-delete {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.bs-canvas-header {
    font-weight: 700;
    font-size: 24px;
    color: #2f507b;
}

.bs-canvas-title {
    color: #2f507b;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.bs-canvas-subtitle {
    color: #b1bece;
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
    text-transform: uppercase;
}

.bs-canvas-info-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.bs-canvas-info-container .container-item {
    border-radius: 30px;
    background: #edf1f4;
    padding: 8px;
    margin: 8px;
    width: calc(50% - 16px);
    max-width: 220px;
    display: flex;
    align-items: center;
}

.bs-canvas-info-container .container-item .info-icon {
    height: 32px;
    margin-right: 10px;
    margin-left: 5px;
}

.bs-canvas-info-container .container-item .info {
    display: flex;
    flex-direction: column;
}

.bs-canvas-info-container .container-item .info .info-title {
    color: #b1bece;
    font-size: 10px;
    font-weight: 600;
    line-height: 11px;
    text-transform: uppercase;
}

.bs-canvas-info-container .container-item .info .info-value {
    color: #2f507b;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
}

.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.stepwizard .btn.disabled,
.stepwizard .btn[disabled],
.stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    max-width: 10px;
    margin-left: auto;
    margin-right: auto;
}

.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 30px;
    bottom: 0;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #efefef;
}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
    max-width: 100px;
}

.process-step p {
    margin-top: 10px;
    font-weight: 600;
    color: #2f507b;
    margin-bottom: -5px;
}

.process-step small {
    font-weight: 400;
    color: #212529;
}

.process-square {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;
    border-radius: 15px !important;
    border: 1px solid transparent;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.process-waiting {
    color: #5c5c5c;
    background-color: #ebecef;
    border-color: #ebecef;
}

.process-warning {
    color: #5c5c5c;
    background-color: #ffe5d2;
    border-color: #ffe5d2;
}

.process-pending {
    color: #5c5c5c;
    background-color: #c0d9ec;
    border-color: #c0d9ec;
}

.process-finished {
    color: #5c5c5c;
    background-color: #ddf0d5;
    border-color: #ddf0d5;
}

.process-declined {
    color: #5c5c5c;
    background-color: #f0adb4;
    border-color: #f0adb4;
}

.process-expired {
    color: #5c5c5c;
    background-color: #f0dfb5;
    border-color: #f0dfb5;
}

label.is-invalid {
    color: $danger;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.has-error .form-control-feedback {
    color: #a94442;
}

.icon-active {
    color: #2f507b;
}

.icon-inactive {
    color: #C3C1BD;
}

.pull-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 100px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:lang(en)::before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 47px;
    content: "Click to select, or drag your files here ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-align: center;
}

.files:lang(nl)::before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 47px;
    content: "Klik om te selecteren, of sleep uw besanden hier heen";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-align: center;
}

label, .invalid-feedback, .clearboth {
    clear: both;
}

.invalid-msg {
    color: #e3342f;
    font-size: 80%;
}

.radioButtons {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    display: block;
    clear: both;
}

.radioButtons li {
    float: left;
    margin: 0 5px 0 0;
    min-width: 100px;
    width: auto;
    height: 40px;
    position: relative;
}

.radioButtons label,
.radioButtons input {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -5px;
}

.radioButtons input[type='radio'] {
    opacity: 0.01;
    z-index: 100;
}

.radioButtons input[type='radio']:checked+label,
.Checked+label {
    background-color: #2f507b;
    color: #fff;
}

.settings {
    padding: 8px 8px 0;
    display: block;
    max-width: 1600px;
}

.settings .left-panel {
    display: block;
    flex-shrink: 0;
    width: 100%;
    margin-right: 80px;
}

.settings .settings-title {
    margin-bottom: 24px;
    color: #2f507b;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
}

.settings-navigation {
    display: flex;
    flex-direction: column;
}

.settings-navigation .account-link.is-active {
    font-weight: 600;
    background-color: #fff;
    border-left: 2px solid #f26522;
    padding-left: 0;
}

.settings-navigation .account-link {
    display: flex;
    height: 56px;
    color: #2f507b;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background-color: #f6f8fa;
    padding: 0 16px 0 2px;
}

.settings-navigation .account-link:hover {
    background-color: #ebedef;
}

.settings-navigation .account-link .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
}

.settings-navigation .account-link .title-container {
    display: flex;
    align-items: center;
}

.settings .account-panel {
    flex-grow: 1;
    padding-bottom: 32px;
    display: block;
}

.settings .account-panel .page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 32px;
}

.settings .account-panel .page .page-title {
    color: #2f507b;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}

.page-body {
    flex-grow: 1;
    margin-top: 8px;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid hsla(0, 0%, 88.6%, .75);
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
    background-color: $gray-500 !important;
    cursor: not-allowed;
}

.save-btn {
    border-radius: 2px !important;
    background: #189dc4;
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 40px;
}

.save-btn:hover {
    background: #1691b5 !important;
}

.del-btn {
    border-radius: 2px !important;
    background: #ed5e68;
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
    padding: 4px;
}

.del-btn:hover {
    background: #d9565f;
}

.btn-big-text {
    font-size: 18px;
    font-weight: 400;
    padding: 4px;
}

.suc-btn {
    border-radius: 2px !important;
    background: #38c172;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 40px;
}

.suc-btn:hover {
    background: #30a662;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 40px;
}

.disabled-btn {
    border-radius: 2px;
    background: #b5b9c1;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 40px;
}

.disabled-btn:hover {
    border-radius: 2px;
    background: #aebdc1;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 40px;
}

.info-row .row-title {
    width: 200px;
    padding: 32px 0 0;
}

.info-row .info-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.settings-form-label {
    color: #2f507b;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings-form-th, .settings-form-td {
    @extend .settings-form-label;
}

.api-reference {
    display: flex;
    justify-content: left;
    vertical-align: middle;
}

.api-reference p {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 400;
}

.settings-block {
    border-top: 1px solid #e6eaee;
}

.settings-block .settings-block-title {
    width: 100%;
    color: #2f507b;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 30px;
}

.settings-block .settings-block-subtitle {
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    color: #b1bece;
    text-transform: uppercase;
    margin-top: 15px;
}

.radius-10 {
    border-radius: 10px;
}

.information-page {
    transition: margin 195ms cubic-bezier(.4, 0, .6, 1) 0ms;
    margin-right: auto;
}

.information-page .page-title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.dashboard {
    transition: margin 195ms cubic-bezier(.4, 0, .6, 1) 0ms;
    margin-right: auto;
}

.dashboard .page-title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard .page-title-container .subtitle {
    width: 100%;
    color: #b1bece;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
}

.dashboard .page-title-container .title {
    font-weight: 700;
    font-size: 24px;
    color: #2f507b;
}

.page-title {
    color: #2f507b;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
}

.new-item-container {
    margin: 0 0 0 auto;
    margin-top: -50px;
    width: auto;
}

.new-item-btn:hover {
    background: #2a486f;
    color: #fff;
    text-decoration: none;
}

.new-item-container .new-item-text {
    padding: 6px 8px;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.has-search .form-control {
    background-image: url("../../../public/assets/images/magnifying-glass.svg");
    background-position: .8em;
    background-repeat: no-repeat;
    padding-left: 2.375rem;
    border-radius: 8px;
    width: 100%;
    transition: all 0.3s ease;
}

.has-search .form-control:focus {
    width: 120%;
    margin-left: -20%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#searchclear {
    position: absolute;
    right: 30px;
    top: -40px;
    bottom: 0;
    height: 24px;
    margin: auto;
    font-size: 24px;
    cursor: pointer;
    color: #2f507b;
}

#searchclear-20 {
    position: absolute;
    right: 30px;
    top: -20px;
    bottom: 0;
    height: 24px;
    margin: auto;
    font-size: 24px;
    cursor: pointer;
    color: #2f507b;
}

.tracking-detail {
    padding: 3rem 0
}

#tracking {
    margin-bottom: 1rem
}

.subtitle {
    width: 100%;
    color: #b1bece;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: #2f507b;
}

.block-title {
    font-weight: 700;
    font-size: 18px;
    color: #2f507b;
    margin-left: 10px;
}

[class*=tracking-status-] p {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    margin-left: 10px;
}

[class*=tracking-status-] {
    padding: 0.5rem 0
}

.tracking-status-intransit {
    background-color: #2f507b
}

.tracking-status-outfordelivery {
    background-color: #f5a551
}

.tracking-status-deliveryoffice {
    background-color: #f7dc6f
}

.tracking-status-delivered {
    background-color: #4cbb87
}

.tracking-status-attemptfail {
    background-color: #b789c7
}

.tracking-status-error,
.tracking-status-exception {
    background-color: #d26759
}

.tracking-status-expired {
    background-color: #616e7d
}

.tracking-status-pending {
    background-color: #ccc
}

.tracking-status-inforeceived {
    background-color: #214977
}

.tracking-item {
    border-left: 1px solid #e5e5e5;
    position: relative;
    padding: 2rem 1.5rem .5rem 2.5rem;
    font-size: .9rem;
    margin-left: 3rem;
    min-height: 5rem;
    color: #2f507b;
}

.tracking-item:last-child {
    padding-bottom: 2rem
}

.tracking-item .tracking-date {
    margin-bottom: .5rem
}

.tracking-item .tracking-date span {
    color: #888;
    font-size: 12px;
    padding-left: .4rem
}

.tracking-item .tracking-content {
    padding: .5rem .8rem;
    background-color: #f4f4f4;
    border-radius: .5rem;
    text-transform: uppercase;
}

.tracking-item .tracking-content span {
    display: block;
    color: #888;
    text-transform: none;
    font-size: 12px;
}

.tracking-item .tracking-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -1.3rem;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #fff
}

.tracking-item .tracking-icon.status-sponsored {
    background-color: #f68
}

.tracking-item .tracking-icon.status-delivered {
    background-color: #4cbb87
}

.tracking-item .tracking-icon.status-outfordelivery {
    background-color: #f5a551
}

.tracking-item .tracking-icon.status-deliveryoffice {
    background-color: #f7dc6f
}

.tracking-item .tracking-icon.status-attemptfail {
    background-color: #b789c7
}

.tracking-item .tracking-icon.status-exception {
    background-color: #d26759
}

.tracking-item .tracking-icon.status-inforeceived {
    background-color: #214977
}

.tracking-item .tracking-icon.status-intransit {
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
    font-size: -0rem
}

@media(min-width:992px) {
    .tracking-item {
        margin-left: 8rem
    }
    .tracking-item .tracking-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right
    }
    .tracking-item .tracking-date span {
        display: block
    }
    .tracking-item .tracking-content {
        padding: 0;
        background-color: transparent
    }
}

.toggle-switch {
    position: relative;
    background: #fff;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border-radius: 40px;
    border: 1px solid #dfd7d7;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.toggle-switch input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.toggle-switch span.circle {
    display: inline-block;
    margin: 0 !important;
    width: 22px;
    height: 22px;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 40px;
    transition: 0.1s linear;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
}

.toggle-switch span.circle:lang(en)::after {
    position: absolute;
    left: 27px;
    top: -6px;
    font-weight: 500;
    font-size: 12px;
    color: #ddd;
}

.toggle-switch span.circle:lang(nl)::after {
    position: absolute;
    left: 27px;
    top: -6px;
    font-weight: 500;
    font-size: 12px;
    color: #ddd;
}

.toggle-switch input[type="checkbox"]:checked+span.circle {
    transform: translate(54px, -50%);
    background: #2f507b;
    border: 1px solid #2f507b;
}

.toggle-switch input[type="checkbox"]:checked+span.circle:lang(en)::before {
    position: absolute;
    right: 30px;
    top: -6px;
    font-weight: 500;
    font-size: 12px;
    color: #2f507b;
}

.toggle-switch input[type="checkbox"]:checked+span.circle:lang(nl)::before {
    position: absolute;
    right: 30px;
    top: -6px;
    font-weight: 500;
    font-size: 12px;
    color: #2f507b;
}

.notify-switch input[type="checkbox"]:checked+span.circle {
    transform: translate(20px, -50%);
}

.notify-switch input[type="checkbox"]:checked+span.circle:lang(en)::before {
    position: absolute;
    right: 0px;
}

.notify-switch input[type="checkbox"]:checked+span.circle:lang(en)::before {
    position: absolute;
    right: 0px;
}

.notify-switch {
    width: 45px;
    height: 30px;
    line-height: 20px;
    border-radius: 30px;
}

.notify-switch span.circle {
    width: 16px;
    height: 16px;
}

.labeled-switch input[type="checkbox"]:not(:checked)+span.circle:lang(en)::after {
    content: "Inactive";
}

.labeled-switch input[type="checkbox"]:not(:checked)+span.circle:lang(nl)::after {
    content: "Inactief";
}

.labeled-switch input[type="checkbox"]:checked+span.circle:lang(en)::before {
    content: "Active";
}

.labeled-switch input[type="checkbox"]:checked+span.circle:lang(nl)::before {
    content: "Actief";
}

.hidden {
    display: none;
}

.spanner {
    position: absolute;
    top: 50%;
    left: 0;
    background: #2a2a2a;
    width: 100%;
    display: block;
    text-align: center;
    height: 100%;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
}

.loader-text {
    font-weight: 600;
    font-size: 24px;
    top: 45%;
    box-sizing: border-box;
    position: relative;
}

.page-overlay {
    opacity: 0;
    z-index: -1;
}

.page-overlay.show {
    opacity: 0.55;
    z-index: 2000;
}

.loader {
    width: 100px;
    height: 100px;
    top: 45%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    background-color: #FFF;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}

.loader::before {
    top: auto;
    bottom: 0;
    background-color: #FF3D00;
    animation-delay: 0.5s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale50 {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.show {
    visibility: visible;
}

.spanner,
.page-overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show,
.page-overlay.show {
    opacity: 0.55;
    z-index: 2000;
}

.mw25 {
    max-width: 25px;
}

.mw50 {
    max-width: 50px;
}

.mw75 {
    max-width: 75px;
}

.mw100 {
    max-width: 100px;
}

.mw200 {
    max-width: 200px;
}

.notification-bell {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #2f507b;
    text-align: center;
}

.notification-item {
    padding: 6px 14px !important;
    display: block !important;
}

.notification-item.read, .notification-text.read {
    color: grey !important;
}

.notification-item.unread, .notification-text.unread {
    color: black !important;
}

.notification-head {
    width: 100%;
    clear: both;
    padding: 12px 18px;
}

@media screen and (min-width: 769px) {
    .notification-menu {
        width: 365px;
    }
    .notification-bell {
        width: auto;
    }
}

.custom-svg {
    filter: invert(28%) sepia(16%) saturate(1712%) hue-rotate(174deg) brightness(97%) contrast(93%);
}

.custom-svg-grey {
    filter: invert(34%) sepia(0%) saturate(4160%) hue-rotate(205deg) brightness(81%) contrast(62%);
}

@media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
        display: block!important;
    }
}

@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
    .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }
    .nav-tabs-horizontal>li {
        float: none;
    }
    .nav-tabs-horizontal>li+li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal>li,
    .nav-tabs-horizontal>li>a {
        background: transparent;
        width: 100%;
    }
    .nav-tabs-horizontal>li>a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal>li.active>a,
    .nav-tabs-horizontal>li.active>a:hover,
    .nav-tabs-horizontal>li.active>a:focus {
        color: #ffffff;
        background-color: #428bca;
    }
}

.pagelist-names {
    padding: 0.7rem;
    background-color: #f7f5f5;
    color: #2f507b;
    vertical-align: top;
    border-bottom: 1px solid #e6eaee;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
}

.login-page {
    width: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
}

.login-page .login-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 24px 40px;
}

.login-news {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    background-color: #edf1f4;
    height: 100vh;
    position: fixed;
    right: 0;
}

.login-page .logo-container {
    margin-bottom: 16px;
}

.login-page .logo-container .logo {
    justify-content: start;
}

.login-page .logo-container .logo img {
    max-width: 300px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 120px;
    margin-bottom: 25px;
}

.login-form .notifications {
    width: 100%;
    margin-bottom: 16px;
}

.login-page .support-container {
    margin-top: auto;
    padding-top: 24px;
    color: #2f507b;
    font-size: 14px;
    font-weight: 400;
}

.login-page .support-container .support-title {
    color: #b1bece;
    font-size: 12px;
    font-weight: 600;
}

.login-form .password-recovery-link {
    text-decoration: none;
    color: #f26522;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.login-page .support-container a {
    color: #f26522;
    text-decoration: none;
}

.login-news .news-title {
    padding: 16px 40px;
    color: #2f507b;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.login-news .news-description {
    color: #2f507b;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    min-width: 100px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .logo img {
        max-width: 200px;
    }
}

@media (min-width: 780px) {
    .login-page .login-form-container {
        width: 450px;
    }
    .login-page .login-news {
        width: calc(100% - 450px);
    }
    .login-news {
        display: flex;
    }
    .logo {
        padding: 0;
    }
    .login-news img {
        max-width: 450px;
    }
}

@media (min-width: 1220px) {
    .login-page .login-form-container {
        width: 600px;
        padding: 48px 80px;
    }
    .login-page .login-news {
        width: calc(100% - 600px);
    }
    .login-news img {
        max-width: 650px;
    }
}

.login-form .notifications {
    width: 100%;
    margin-bottom: 40px;
}

.notification-root {
    display: flex;
    padding: 6px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 4px;
    background-color: transparent;
}

.notification-icon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    box-shadow: none;
}

.login-form .login-alert,
.login-form .notification-alert {
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
}

.login-form .notification-alert {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0;
}

.notification-icon {
    display: flex;
    opacity: 0.9;
    padding: 7px 0;
    font-size: 22px;
    margin-right: 12px;
}

.notification-alert-info {
    color: rgb(13, 60, 97);
    border: 1px solid #2196f3;
}

.notification-alert-info .notification-icon {
    color: #2196f3;
}

.notification-alert-info .title {
    font-size: 14px;
    font-weight: 400;
    color: rgb(13, 60, 97);
}

.notification-alert-success {
    color: rgb(30, 70, 32);
    border: 1px solid #4caf50;
}

.notification-alert-success .notification-icon {
    color: #4caf50;
}

.notification-alert-success .title {
    font-size: 14px;
    font-weight: 400;
    color: rgb(30, 70, 32);
}

.notification-alert-warning {
    color: rgb(102, 60, 0);
    border: 1px solid #ff9800;
}

.notification-alert-warning .notification-icon {
    color: #ff9800;
}

.notification-alert-warning .title {
    font-size: 14px;
    font-weight: 400;
    color: rgb(102, 60, 0);
}

.notification-alert-error {
    color: rgb(97, 26, 21);
    border: 1px solid #f44336;
}

.notification-alert-error .notification-icon {
    color: #f44336;
}

.notification-alert-error .title {
    font-size: 14px;
    font-weight: 400;
    color: rgb(97, 26, 21);
}

.notification-font-inherit {
    font-size: inherit;
}

.description {
    font-size: 12px;
    font-weight: 300;
}

.notification-message {
    padding: 8px 0;
}

.hide {
    display: none;
}

.row-hover:hover {
    box-shadow: 1px 1px 10px 1px hsla(0, 0%, 25%, .1);
    transform: scale(1);
}

.text-disabled {
    color: #b5b9c1;
}

.text-trashed {
    color: #b5b9c1;
}

.text-muted {
    color: $gray-300;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    height: 72px;
}

@media (min-width: 992px) {
    .navbar-brand {
        margin-right: 80px !important;
    }
}

.valign-middle {
    vertical-align: middle;
}

.imports_table_link {
    display: flex;
    align-items: center;
}

.alert ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.error_list {
    color: red;
    list-style: none
}

.popoverContent {
    display: none;
}

.popover {
    min-width: 95%;
    font-size: 14px;

    p {
        margin: 0 0 .5em 0;
        padding: 4px 8px 0 8px;
    }

    ul {
        margin: 0;
        padding: 0 8px 8px 28px;
    }

    li {
        margin-bottom: .5em;

        + :last-child {
            margin-bottom: 0;
        }
    }
}

.popover-body {
    padding: 8px;
}

@media (min-width: 768px) {
    .popover {
        min-width: 500px;
    }
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    $afterContentWidth: -1.1em;

    &:before {
        border: 1px solid $blue;
        border-radius: 3px;

        width: 1.4em;
        height: 1.4em;
        display: inline-block;

        transition: background-color .333s;

        text-align: center;
        line-height: 1.4em;
        background-color: transparent;

        content: "\00A0"; /* &nbsp; */
    }

    &:after {
        color: $white;
        content: "✔";

        display: inline-block;
        transition: 0.333s;
        transform: scale(0);

        position: relative;
        left: $afterContentWidth;
    }

    &:checked:before {
        background-color: $blue;
    }
    &:checked:after {
        transform: scale(1);
    }

    &.after-content-width-fix {
        margin-right: $afterContentWidth;
    }
}

input[type=checkbox]:disabled {
    &:before {
        border: 1px solid $gray-500;
    }

    &:checked:before {
        background-color: $gray-500;
    }
}

.soft-note {
    font-style: italic;
    color: $gray-600;
}

.mild-emphasis {
    font-weight: 500;
    color: $blue;
}

.bulk-assign-results {
    display: block;
    max-height: 220px;
    overflow: scroll;
    transition: max-height ease-in-out .333s;
    width: 100%;

    li {
        margin-bottom: .5em;
    }
}

.results-hidden {
    max-height: 0;
}

.callbackSlider {
    margin-bottom: .5em;
}
.callbackSlider:last-child {
    margin-bottom: 0;
}

.standalone-toggle-switch {
    display: flex;
    align-items: center;

    label {
        margin: 0 1.4em 0 0;
    }
}

#confirm_password_column {
    height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
}
