.select2-container--default, .select2-container--bootstrap4, .select2-container--classic {
    .select2-selection--single {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
        display: block;
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #2f507b;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        .select2-selection__arrow b {
            top: 85%;
        }

        .select2-selection__rendered {
            line-height: 22px;
        }

        .select2-selection__arrow {
            height: 20px;
            position: absolute;
            top: 1px;
            right: 5px;
            width: 20px;
        }

        .select2-selection__rendered {
            line-height: 25px;
        }
    }

    .select2-selection--multiple {
        display: block;
        width: 100%;
        padding: 0.5rem 0.35rem;
        font-size: 0.9rem;
        font-weight: 400;
        color: #2f507b;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        .select2-selection__choice {
            background-color: #2f507b;
            color: #ffffff;
            border-radius: 4px;
            box-sizing: border-box;
            display: inline-block;
            padding-left: 26px;
            position: relative;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            white-space: nowrap;
        }

        .select2-selection__choice__remove {
            background-color: transparent;
            border: none;
            border-right: 1px solid #aaaaaa;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color: #ffffff;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            padding: 0 4px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #edf1f4;
        color: #2f507b;
        font-size: 14px;
        font-weight: 400;
    }

    &.select2-container--focus {
        .select2-selection {
            border-color: #ced4da;
            box-shadow: none;
        }
    }
}

