@media (max-width: 360px) {
    .new-item-btn {
        display: block;
        width: auto;
        margin-top: 50px;
        background: #2f507b;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }

    .new-item-btn-disabled {
        display: block;
        width: auto;
        margin-top: 50px;
        background: #AAAAAA;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }
}

@media (min-width: 360px) {
    .new-item-btn {
        margin-top: 50px;
        width: auto;
        background: #2f507b;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }

    .new-item-btn-disabled {
        margin-top: 25px;
        width: auto;
        background: #AAAAAA;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }
}

@media (max-width: 576px) {
    .d-xs-none {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .new-item-btn {
        width: auto;
        margin-top: 50px;
        background: #2f507b;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }

    .new-item-btn-disabled {
        width: auto;
        margin-top: 25px;
        background: #AAAAAA;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }
}

@media (min-width: 768px) {
    .new-item-btn {
        width: auto;
        margin-top: 25px;
        background: #2f507b;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }

    .new-item-btn-disabled {
        width: auto;
        margin-top: 25px;
        background: #AAAAAA;
        box-shadow: 0 2px 4px hsla(0,0%,39.2%,.5);
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px !important;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px !important;
    }
}
