@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url(/fonts/self-host/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url(/fonts/self-host/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(/fonts/self-host/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/self-host/Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(/fonts/self-host/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url(/fonts/self-host/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url(/fonts/self-host/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/self-host/Roboto/Roboto-BoldItalic.ttf);
}
